<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOlt7InNvdXJjZUNvbnRyb2wiOlt7ImlkZW50aXR5
		IjoiZmVlZGtpdCIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJodHRwczpcL1wv
		Z2l0aHViLmNvbVwvbm1kaWFzXC9GZWVkS2l0Il19LCJwcm9kdWN0RmlsdGVy
		IjpudWxsLCJyZXF1aXJlbWVudCI6eyJyYW5nZSI6W3sibG93ZXJCb3VuZCI6
		IjkuMS4yIiwidXBwZXJCb3VuZCI6IjEwLjAuMCJ9XX19XX0seyJzb3VyY2VD
		b250cm9sIjpbeyJpZGVudGl0eSI6InJpY2h0ZXh0IiwibG9jYXRpb24iOnsi
		cmVtb3RlIjpbImh0dHBzOlwvXC9naXRodWIuY29tXC9OdVBsYXlcL1JpY2hU
		ZXh0LmdpdCJdfSwicHJvZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQi
		OnsicmFuZ2UiOlt7Imxvd2VyQm91bmQiOiIyLjIuMCIsInVwcGVyQm91bmQi
		OiIzLjAuMCJ9XX19XX0seyJzb3VyY2VDb250cm9sIjpbeyJpZGVudGl0eSI6
		InN3aWZ0dWktaW50cm9zcGVjdCIsImxvY2F0aW9uIjp7InJlbW90ZSI6WyJo
		dHRwczpcL1wvZ2l0aHViLmNvbVwvc2l0ZWxpbmVcL1N3aWZ0VUktSW50cm9z
		cGVjdC5naXQiXX0sInByb2R1Y3RGaWx0ZXIiOm51bGwsInJlcXVpcmVtZW50
		Ijp7InJhbmdlIjpbeyJsb3dlckJvdW5kIjoiMC4yLjMiLCJ1cHBlckJvdW5k
		IjoiMS4wLjAifV19fV19LHsic291cmNlQ29udHJvbCI6W3siaWRlbnRpdHki
		OiJraW5nZmlzaGVyIiwibG9jYXRpb24iOnsicmVtb3RlIjpbImh0dHBzOlwv
		XC9naXRodWIuY29tXC9vbmV2Y2F0XC9LaW5nZmlzaGVyLmdpdCJdfSwicHJv
		ZHVjdEZpbHRlciI6bnVsbCwicmVxdWlyZW1lbnQiOnsicmFuZ2UiOlt7Imxv
		d2VyQm91bmQiOiI3LjYuMiIsInVwcGVyQm91bmQiOiI4LjAuMCJ9XX19XX1d
		LCJkaXNwbGF5TmFtZSI6IkNoYXQgUnNzIiwicGFja2FnZUtpbmQiOnsicm9v
		dCI6e319LCJwbGF0Zm9ybXMiOlt7Im9wdGlvbnMiOltdLCJwbGF0Zm9ybU5h
		bWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYuMCJ9XSwicHJvZHVjdHMiOlt7Im5h
		bWUiOiJDaGF0IFJzcyIsInNldHRpbmdzIjpbeyJ0ZWFtSWRlbnRpZmllciI6
		WyJSQjNDNEU1REVKIl19LHsiZGlzcGxheVZlcnNpb24iOlsiMS4wIl19LHsi
		YnVuZGxlVmVyc2lvbiI6WyIxIl19LHsiaU9TQXBwSW5mbyI6W3siYWNjZW50
		Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicHJlc2V0Q29sb3IiOnsicmF3VmFs
		dWUiOiJibHVlIn19fSwiYXBwSWNvbiI6eyJwbGFjZWhvbGRlciI6eyJpY29u
		Ijp7InJhd1ZhbHVlIjoiY2hhdE1lc3NhZ2UifX19LCJjYXBhYmlsaXRpZXMi
		Olt7InB1cnBvc2UiOiJpbmNvbWluZ05ldHdvcmtDb25uZWN0aW9ucyJ9LHsi
		cHVycG9zZSI6Im91dGdvaW5nTmV0d29ya0Nvbm5lY3Rpb25zIn0seyJmaWxl
		QWNjZXNzTG9jYXRpb24iOiJ1c2VyU2VsZWN0ZWRGaWxlcyIsImZpbGVBY2Nl
		c3NNb2RlIjoicmVhZE9ubHkiLCJwdXJwb3NlIjoiZmlsZUFjY2VzcyJ9LHsi
		ZmlsZUFjY2Vzc0xvY2F0aW9uIjoiZG93bmxvYWRzRm9sZGVyIiwiZmlsZUFj
		Y2Vzc01vZGUiOiJyZWFkV3JpdGUiLCJwdXJwb3NlIjoiZmlsZUFjY2VzcyJ9
		XSwic3VwcG9ydGVkRGV2aWNlRmFtaWxpZXMiOlsicGFkIiwicGhvbmUiXSwi
		c3VwcG9ydGVkSW50ZXJmYWNlT3JpZW50YXRpb25zIjpbeyJwb3J0cmFpdCI6
		e319LHsibGFuZHNjYXBlUmlnaHQiOnt9fSx7ImxhbmRzY2FwZUxlZnQiOnt9
		fSx7InBvcnRyYWl0VXBzaWRlRG93biI6eyJjb25kaXRpb24iOnsiZGV2aWNl
		RmFtaWxpZXMiOlsicGFkIl19fX1dfV19XSwidGFyZ2V0cyI6WyJBcHBNb2R1
		bGUiXSwidHlwZSI6eyJleGVjdXRhYmxlIjpudWxsfX1dLCJ0YXJnZXRNYXAi
		OnsiQXBwTW9kdWxlIjp7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJG
		ZWVkS2l0IiwiRmVlZEtpdCIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIlJp
		Y2hUZXh0IiwiUmljaFRleHQiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJJ
		bnRyb3NwZWN0IiwiU3dpZnRVSS1JbnRyb3NwZWN0IixudWxsLG51bGxdfSx7
		InByb2R1Y3QiOlsiS2luZ2Zpc2hlciIsIktpbmdmaXNoZXIiLG51bGwsbnVs
		bF19XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoi
		LiIsInJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJs
		ZVVwY29taW5nRmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJh
		bHMifX0sInRvb2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifX0s
		InRhcmdldHMiOlt7ImRlcGVuZGVuY2llcyI6W3sicHJvZHVjdCI6WyJGZWVk
		S2l0IiwiRmVlZEtpdCIsbnVsbCxudWxsXX0seyJwcm9kdWN0IjpbIlJpY2hU
		ZXh0IiwiUmljaFRleHQiLG51bGwsbnVsbF19LHsicHJvZHVjdCI6WyJJbnRy
		b3NwZWN0IiwiU3dpZnRVSS1JbnRyb3NwZWN0IixudWxsLG51bGxdfSx7InBy
		b2R1Y3QiOlsiS2luZ2Zpc2hlciIsIktpbmdmaXNoZXIiLG51bGwsbnVsbF19
		XSwiZXhjbHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIs
		InJlc291cmNlcyI6W10sInNldHRpbmdzIjpbeyJraW5kIjp7ImVuYWJsZVVw
		Y29taW5nRmVhdHVyZSI6eyJfMCI6IkJhcmVTbGFzaFJlZ2V4TGl0ZXJhbHMi
		fX0sInRvb2wiOiJzd2lmdCJ9XSwidHlwZSI6ImV4ZWN1dGFibGUifV0sInRv
		b2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuOC4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		gLq8tM2FDnlQMh0oLpKvvc2EGufcPx0lEnLGMyxvWGY=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
